body,html{height:100%;padding:0px;margin:0px;}
.c{display:block}
.a,.b,.c{background-image:url("../img/fondo.jpg");background-repeat:no-repeat;background-size:cover;display:inline-block;width:33.33%;height:100%;float:left;}
.d{background-image:url("../img/luna.jpg");background-repeat:round;background-size:cover;height:14%;width:75%;position:fixed;left:12%;bottom:0px}
#nave{text-align:center;position:fixed;top:0%;width:100%;height:20%;margin-top:-3%}
#nave img{height:100%;}
#cpanel{padding: 2%;color:white;vertical-align: middle;}
#cpanel ul li{display: inline-block;vertical-align: middle;text-align: center; list-style-position: inside;margin: 0;padding: 0;}
#cpanel img{padding-right: 2%;width:20%;}
#hidem,#showm{display:none}

#menu img{
  width: 20%;
  position: relative;
  top: 0;
  left:20%;
}

#win{
  width: 100%;
  margin-top: 2%;
  display: none;
}

#loose{
  width: 100%;
  margin-top: 10%;
  display: none;
}

#reanudar{
  display: none;
}

#reiniciar{
  display: inline-block;
}
